﻿body
{
    padding:0;
    margin:0;
    

}
table{

    background-color:lightgray;
    margin-left:40px;

}

table th, td{

    padding:15px;
}
 
#submitButton{

    margin-left:150px;
    background-color:blue;
}

#submitButton:hover{
    background-color:lightblue;
}
.button { width: 150px; 
          padding: 10px; 
          background-color: #FF8C00; 
          box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2); 
          font-weight:bold; text-decoration:none; } 
#cover{ position:fixed;
         top:0; 
         left:0; 
         background:rgba(0,0,0,0.6);
          z-index:5; width:100%; 
          height:100%; display:none; }
 #loginScreen { height:380px; width:340px;
                 margin:0 auto; position:relative;
                  z-index:10; display:none; 
                  background: url(login.png) no-repeat;
                   border:5px solid #cccccc; border-radius:10px; } 
 #loginScreen:target, #loginScreen:target + #cover{ display:block; opacity:2; }
  .cancel { display:block;
             position:absolute;
              top:3px; right:2px; 
              background:rgb(245,245,245);
               color:black; height:30px; 
               width:35px; font-size:30px; 
               text-decoration:none; text-align:center; 
               font-weight:bold; } 