@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





* {
  border-radius: 0 !important;
}


nav {
  width:100%;	
}
.navbar-default {
    width:100%;
    height:100px;
    background-color:#192021!important;
    position:fixed;
    top:0;
    left:0;
	margin:0 !important;
	border:none !important;
	border-color:none !important;


}



nav.shrink {
	
   	width:100%;
	height:auto;
	position:fixed;
	
	
}

nav.shrink .logo {
	
	    height: 55px;
    width: 77px
}

nav.shrink ul li{
	
   font-size:	20px;
   margin-top:-10px;
}
.navbar-default ul{
	
	padding:15px 15px 0px 15px;
	
}


body {
    background:url(" images/wildlife.jpg" ) no-repeat ;
	background-size:100%;	
	
} 
.logo{
        height: 75px;
    width: 102px;
	margin-top: -15px;  	
}

.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}


@media (min-width: 768px) {
	



    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}


@font-face {
    font-family: menuFont;
    src: url('fonts1/BOOKS.TTF') format('truetype');
    font-weight: bold;
}




.navbar-nav>li {
	font-family: 'menuFont';
	font-size:25px;

}

@media (max-width: 955px) {
  	.navbar-nav>li {
		font-size:16px;
		font-weight:bolder;
}
}

@media(min-width:768px) {
	.navbar-nav li{
	  margin:-2px;	
	}
}
.navbar-nav>li>a:hover span{
	
}

.navbar-nav>li>a:hover span{
	color:red !important;
	border-bottom:white 1px solid;
}


nav, img{
  transition: width 1s linear;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}


.portfolio-image{
  width:100%;
  height:auto;
background-color:grey;
   position:relative;
}

.nature img {
   width:100%;
   height:1030px;
   position:relative;	
}

.nature:after {
     content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}


.firstPic{
	
}


.nature-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index:20;
}

@font-face {
    font-family: mainTextFont;
    src: url('fonts1/monotype craviosa/mtcorsva.ttf') format('truetype');
	font-weight:600;
  
}

.firstLine {
 
  margin: 0;
  font-size: 90px;

  font-family: mainTextFont !important;
  
}
p {
 
  margin: 0;
  font-size:50px;

  font-family: mainTextFont;

}

/* portfolio div */

	  .portfolio-image{
	  margin:0 !important;
	  padding:0!important; 
	  }
	  
	  .fulldiv {
		  width: 100%;
	  }
	  .left {
		  float: left;
	  }
	  .right {
		  float: right;
	  }
	  .float-none {
		  float:none;
	  }
	  .float-inherit {
		  float: inherit;
	  }

	.pText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	z-index:20;
	}
	
	.pTextLine{
	 font-size:70px;	
	}
	
	
	/*wildlife*/
	
	.snowGooseImage{
	 height:1030px; 
	 width:100%;	
	}
	
	
	/*wedding*/
	
	.weddingPic{
	 height:auto; 
	 width:100%;
	background-size:contain;
	}
	
	
	
	

	/*people*/
	
	.firstPic{
		 display:inline;
	}
	
	.pics{
	  padding:70px;	
	}
	.firstPic img{
	  width:300px;
		 height:auto; 
		
	}
	.secondPic{
	    width:496px;
		 height:846px; 	
	}
	


.image1 {
    position:relative;
    width:100%;
    height:100%;
}
.image1 img {
    width:100%;
    vertical-align:top;
}
.image1:after  {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(165,70,68,0.7);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image1:hover:after {
    opacity:1;
}


@font-face {
    font-family: picFont;
    src: url('fonts1/ufonts.com_footlight-mt-light.ttf') format('truetype');
	font-weight:600;
  
}


.staffPicText p{
	
  position: absolute;
  top: 50%;
  left: 0%;
  color: white;
  text-align: center;
  z-index:20;
  font-size:25px;
  line-height:30px;
  display:none;
  text-height:text-size;
  
  ;

}

.staffPicText h2{
	
  position: absolute;
  top: 10%;
  left:10%;
  color: white;
  text-align: center;
  z-index:20;
  font-size:46px;
  display:none;
 font-family: 'picFont'!important;

}

.image1:hover .staffPicText p{
  display:block;	
}

.image1:hover .staffPicText h2{
  display:block;
}

.aboutUsText{
	padding:10px;
  	
}

.aboutUsText h1{
 	font-family:"mainTextFont";
	font-weight:bolder;
	font-size:50px;
	text-align:center;
	padding:5px;
	
	
}

.aboutUsText p{
 	font-family: "mainTextFont";
        padding: 20px 20px 0 20px;
    font-weight: bolder;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}



#owl-demo img{
margin: 30px;
display:inline-block;
width :250px!important;
height:300px;

}



.zoom-btn {
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 5px;
}
/*#owl-demo .item{
  margin: 3px;
  display:inline-block;

}
#owl-demo .item img{
  display: inline;
   width :300px!important;
    height:300px; 
	margin:10px;
	overflow:hidden;


}*/

.owl-carousel {
       display: block!important;
	   
}
/*
    position: relative;
    width: 100%;
    /*margin: 0px 40px;
    padding-top: 100px*/
}


/*.overlay{
   content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(165,70,68,0.7);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	
}

.item img :hover .overlay {
    opacity:1;
}
*/

.item img {
    position:relative;
    width:100%;
    height:100%;
}
.image1 img {
    width:100%;
    vertical-align:top;
}
.image1:after  {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(165,70,68,0.7);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image1:hover:after {
    opacity:1;
}

