@charset "utf-8";
/* CSS Document */

/*body{
   background-color:black;	
	
} */

.nopad{
 padding:0px;
 margin:0px;	
}
.headerRow{
  	background-color:black;
	
	
	
}
.container {
  padding:0px;	
  max-width:1256px !important;
}
.container-fluid {
  	
	background-color:black;
}

.headerPic {
width:100%;	
}

  .navbar-nav {
       padding: 25px;
 }

.bannerPic{
 position:relative;	
}

.bannerText{
     position: absolute;
 font-size: 17px;
	
    color: white;
}

.bannerText h1{
font-size: 76px;
    font-weight: bold;
    text-align: left;
    padding: 170px 0px 0px 390px;
 
}

.bannerText button{
      font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: black;
    border: none;
    padding: 5px 10px;
    margin-top: 50px;
    margin-left: 143px;	
}

.sliderText{
  padding-top:80px;	
}

#experience{
background:url('images/image bg.png') no-repeat ;
width:100%;
background-size:100%;
min-height:958px;


	
}
.experienceImage{
  position:relative;	
}

.experienceText{
 position: absolute;
    color: white;
    line-height: 30px;
    padding-top: 200px;
    padding-left: 200px;
      

}

.experienceText h1{
	padding-bottom:36px;
}

#company{
 padding:100px 150px;	
}


.featuresPic{
  padding-bottom:75px;	
}
#footer{
 background-color:black;
 color:white;	
}


#footer ul{
 padding-top: 47px;
}
#footer ul li{
 list-style:none;
 padding:5px;
 	
}

.listHeading{
  font-weight:bold;	
  margin-bottom: 15px;
  font-variant:small-caps;
  font-size:16px;
}

.socialIcons ul li{
  display:inline;	
}




#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;

  height: auto;
}

.owl-prev{
   	
      position: relative;
    top: -384px;
    margin-left: -71px;
    
    width: 60px;
    height: 300px;
 
	background:url('images/prev arrow.png') no-repeat;
}

.owl-next{
   	
     position: relative;
    top: -654px;
 background: url('images/next arrow.png') no-repeat; 
 
    float: right;
     width: 60px;
    height: 300px;
	margin-right:-50px;}
	
	#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



