@charset "utf-8";
/* CSS Document */

@media (max-width:1115px){
  	
	#mainNav ul  {
    	margin-left:100px;
}
}
@media (min-width:880px)and  (max-width:1015px){

 	#mainNav ul  {
    	margin-left:0px;
	}
}



@media  (max-width:881px){ 
	#mainNav ul li{
		  z-index:99;	
		  display:block;
		  float:none;
		  width:100%;	
}
	
	
#mainNav ul li:hover ul{
    
	width:100%;
	background-color:green;	
	
}
	navbar {
	  height:auto;
	  display:none;	
	}

	#mainNav ul li ul{
		position:relative;
		float:none;
	}
	
	#mainNav ul li :tap{
	  background-color:green;	
}
   #mainNav ul li:tap ul{
      	background-color:green ;
		display:block;
		visibility:visible;
		margin-left:0px; 
}

#mainNav ul li.hover {
  background-color:green;	
}

#mainNav ul li.hover ul {
 display:block;	
}

.bottom{
   display:hidden;	
}
}


@media (max-width:768px) {
	
	.announcementBanner p {
		
	   margin:-80px 10px 20px 40px;	
	}

}