@charset "utf-8";
/* CSS Document */

@media (max-width:1260px){
	
 .contact{
	 
	margin-left:364px; 
 }
	
}

@media(max-width:1102px){
	
.contact {
    margin-left: 309px;
}
}

@media (max-width: 992px){
.contact {
    margin-left: 289px;
	
}
}


@media(min-width:880px) and (max-width:991px){
.contactEmail {
    margin-top: -100px;
	
}
	.contact {
    margin-left: 289px;
    margin-top: 1px;
	
}
}
@media (min-width:820px) and (max-width:879px) {
		.contactEmail {
          margin-top: -70px;
	}
	.contact {
    margin-left: 216px;
    margin-top: 1px;
	
}
}

@media (min-width: 754px) and (max-width:819px){
	
	.contactEmail {
          margin-top: -32px;
	}
	
	.contact {
    margin-left: 182px;
    margin-top: 1px;
	
}
}

@media (min-width:700px) and (max-width:753px){
	
	.contactEmail {
          margin-top: 2px;
	}
	.contact {
	    margin-left: 141px;
        margin-top: 1px;
}
}
@media (min-width:299px) and (max-width:699px){
	
	.contactEmail {
          margin-top: 27px;
	}
	.contact {
	    margin-left: -40px;
        margin-top: 1px;
}
	#submit {
    margin-left: 60px;
	}
.imgLogo img {
     margin-right:0px	
}

}

