﻿@charset "utf-8";
/* CSS Document */

@media (max-width: 1370px) {
	
   .infoBox img{
	  width:250px;
	  height:200px;   
	   
   }
	
	.btn-primary{
		
		margin-left:50px;
	}
}

@media (max-width:1265px){
	
   .carousel-caption{
	 margin-left:150px;   
   }
	
	.panel-title {
    margin-left: 45px;
}

	.btn-primary {
    margin-left: 40px;
}
}

@media (max-width:1115px){
  	
	#mainNav ul  {
    	margin-left:100px;
}
	.btn-primary {
    margin-left: 30px;
}
}

@media (max-width:1082px){

   .infoBox{
	   
	   margin-left:50px;
	   margin-right:50px;
	   
   }


	.infoBox2 {
    margin-left: 250px;
    width: 200px;
}
}



@media (min-width:880px)and  (max-width:1015px){

 	#mainNav ul  {
    	margin-left:0px;
	}
}

/*@media (max-width: 768px){
	
	
#mainNav ul li{
	
z-index:99;	
display:block;
	
}
	
#maunNav ul li .dropdown-menu l1 a{
    	display:block;
	Z-index:100;
	
}
	
	
}*/

/*This is what the usual ans is */
	/*@media (max-width: 789 px) {
  
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}


*/



@media all and (max-width:880px){ 
	#mainNav ul li{
		  z-index:99;	
		  display:block;
		  float:none;
		  width:100%;	
}
	
	
#mainNav ul li:hover ul{
    
	width:100%;
	background-color:green;	
	
}
	navbar {
	  height:auto;
	  display:none;	
	}

	#mainNav ul li ul{
		position:relative;
		float:none;
	}
	
	#mainNav ul li :tap{
	  background-color:green;	
}
   #mainNav ul li:tap ul{
      	background-color:green ;
		display:block;
		visibility:visible;
		margin-left:0px; 
}

#mainNav ul li.hover {
  background-color:green;	
}

#mainNav ul li.hover ul {
 display:block;	
}


}

@media (max-width:880px) {
	
      .infoBox2{
         margin:30px auto;	
        }
	
}

@media (max-width:768px) {
	
	.announcementBanner p {
		
	   margin:-80px 10px 20px 40px;	
	}

}


@media (max-width:700px){
	
 .carousel-caption {
	 
	margin-left:10px;
	width:auto; 
 }
	
}
@media (max-width:483px) {
	
	.infoBox {
	  margin:10px auto;	
	 
	}
	
	.infoBox h3 {	
	  margin-left:20px;	
	}
	
	
	.infoBox img {
	  width:200px;
	  height:150px;		
     }
	
	
   .infoBox p { 
	  width:200px;
    }

}



@media (max-width:364px) {
	
   	.infoBox img {
	  width:150px;
	  height:150px;		
}

.infoBox h3 {
	
 margin-left:0px;	
	
}
.infoBox p {
   
 font-size:0.9em;
 width:190px;

}

@media (max-width:322px){
 .infoBox p {
	width:150px; 
 }
	
}































