﻿@charset "utf-8";
/* CSS Document */

@media (max-width:1385px){


}
@media (max-width:1285px) {
   	
	#workingHourInfo {
    margin: -424px 70px 20px 0px;
	}
	
	serviceInfo3 {
    margin-top: -219px;
    width: 250px;
    height: 350px;
    margin-bottom: 100px;
	}
}

@media (max-width:975px) {
	
#workingHourInfo {
    margin: -384px -42px 20px 0px;
}
	.serviceInfo2:nth-child(3){
	  margin-top:30px;  
	}
	
	.serviceInfo3 img {
    width: 220px;
    height: 137px;
    margin: 70px 0px 0px -2px;
}
.serviceInfo3:nth-child(3){
	  margin-top:-50px;  
	}
}

@media (max-width:880px) {
	.serviceInfo2:nth-child(2){
	  margin-top:40px;  
	}
	.serviceInfo2:nth-child(1){
	  margin-top:50px;  
	}
.serviceInfo3:nth-child(1){
	  margin-top:-250px;  
	}
	#workingHourInfo {
    margin: -417px 450px 20px 0px;
}

.serviceInfo3:nth-child(2){
	  margin-top:-45px;  
	}
	
	.serviceInfo img {
    width: 220px;
    height: 137px;
    margin-bottom:-45px;
	}
	
	.serviceInfo2 img {
    width: 220px;
    height: 137px;
    margin-bottom:-45px;
	}

	.serviceInfo3 img {
    width: 220px;
    height: 137px;
    margin-bottom:-45px;
	}
}

@media (max-width:775px) {
     #workingHourInfo {
    margin: -444px 401px 20px 0px;	
	 }
	 
	 .serviceInfo3:nth-child(1){
	  margin-top:-300px;  
	}
}

@media (max-width:725px) {
    #workingHourInfo {
    margin: -443px 324px 20px 0px;	
	}
}

@media (max-width:634px) {
	  #workingHourInfo {
    margin: -443px 255px 20px 0px;
	  }
	
}

@media (max-width:546px) {
    	#workingHourInfo {
    margin: -444px 175px 20px 0px;
		}
}

@media (max-width:546px) {
    	#workingHourInfo {
    margin: -444px 175px 20px 0px;
		}
}

@media (max-width:450px) {
    	#workingHourInfo {
    margin: -444px 56px 20px 0px;
		}
}


@media (max-width:370px){
	.mobileShow{
	   display:block !important;
	   margin: 20px 87px -4px 0px;
	}		
	
	.infoBox3{
	  display:none;	
	}
	
	#workingHourInfo {
    margin: -451px 50px 20px 0px;
	}
	
	.serviceInfo , .serviceInfo2 , .serviceInfo3{
		width:200px;
	}
}

@media (max-width:357px){
	
   	
}
@media (max-width:314px){
	
	.mobileShow {
    display: block !important;
    margin: 37px 55px -22px 0px;
}
	
}