@charset "utf-8";
/* CSS Document */

@media (max-width:1347px)
{
   .btn-primary {
    margin-left: 30px;
   }
	
}

@media (max-width:1210px)
{
	
	.btn-primary {
    margin-left: 30px;
	}
    #workingHourInfo {
    margin: -444px 20px 20px 0px;
	}
	
	
}

@media (max-width:1090px)
{
	.infoBoxDoctors{
		margin-left:70px;
		width:250px;
	   	
	}
	
    	#workingHourInfo {
    margin: -335px 200px 20px 0px;
		}
	
}

@media (max-width:960px) {
	#workingHourInfo{
   margin:-603px 316px 20px 30px;
	}
	
	.infoBoxDoctors {
      margin-left: 150px;
    width: 250px;
    margin-top: 250px;
	}
}

@media (max-width:745px){
	
	#workingHourInfo {
    margin: -603px 159px 20px 30px;
	}
	
	.infoBoxDoctors {
      margin-left: 30px;
    width: 250px;
    margin-top: 250px;
	}
}

@media (max-width:574px){
	#workingHourInfo {
    margin: -603px 113px 20px 0px;
}
}

@media (max-width:435px){
	
	#workingHourInfo {
       margin: -553px 82px 20px 85px;
	}
	.infoBoxDoctors{
	  visibility:hidden;	
	}
	.mobileShow{
	   display:block !important;
	   margin:-339px 84px 20px 0px;		
	}
	
	
}

@media (max-width:350px){
    	
	#workingHourInfo {
    margin: -604px 40px 20px 0px;
     }

.mobileShow {
    display: block !important;
    margin: -400px 51px 20px 0px;
     }
	 
	 .well img {
    width: 70px;
    height: 100px;
    margin: 0px;
    margin-bottom: 10px;
}

   .well p{
	 word-wrap:break-word;   
   }
}