﻿@charset "utf-8";
body{
	background-color: #B8B2B2;
	padding:0;
    margin-top:15px;
	
}


/*Content of the site*/
#fixedWidth{
	background-color: #667EC1;
	height: auto;
	width: 80%;
	margin: 0 auto;
	position:relative;
	-webkit-box-shadow: 3px 0 0px 1px #9CB6E5;
	border-radius: 10px;
	box-shadow: 3px 0 0px 1px #9CB6E5;
}


header {
	height:150px;
	width: 100%;
}
img {
	    margin: 50px 40px ;
		
    height: 80px;
    width: 200px;	
}

#fixedWidth header .announcementBanner {
	margin: 50px 35px 0 0;
	float: right;
	font-family: arial;
	
	font-weight: 500;
	font-size: 1.2em;
}


.announcementBanner p{
    margin: 10px 0 0 10px;
	
}
 a:link{
	color:black;
	text-decoration:none;
}


a:active{
	color:black;
	}
 a:hover{
	color:purple;
	text-decoration:none;
}

.clearfix{
	clear:both;
}

/*Top and Bottom Navigation Bar*/


.navbar{
	width:100%;
    height:50px;
	background-color:lightgreen;
	margin:10px auto 0 auto;
}

#mainNav ul  {
    	margin-left:180px;
}

#mainNav ul li{
	 font-weight:bold;

	}
	
#mainNav ul li a {
	background-color: lightgreen;
	
}

#mainNav ul li :hover {
	background-color:green;	
}

#mainNav  li ul{
	display: none;
    width:180%;
	
   
}

#mainNav ul li:hover ul{
      	background-color:green ;
		display:block;
		visibility:visible;
		margin-left:0px;  
}
    /* .dropdown-background {
		position:static; 
	 }
	

	 .servicesHide{ 
		display:none; 
	 }
 */

/*Carousel Slider for photo banner on Home Page*/ 
#photoBanner{
	width:100%;
	margin-top:10px;
	height:400px;
	}

#photoBanner img {
	  width:100%;
     height: 400px;
	 margin:5px 5px 0 0px;
	 position:relative;
}

.carousel-caption{
	color:white;
	margin-left:480px;
	margin-bottom:50px;
	font-size:1.2em;
	font-weight:bold;
	border:1px solid none;
	background-color:#93B0E3;
	opacity:0.8;
	/*margin-right:-200px;*/
	width:300px;
	border-radius:8px;
	
}

/* information in Grid form*/
/*for first two columns*/
.infoBox{
	margin-top:10px;
	margin-left:22px;
	}
	
	.infoBox img {
	   margin: 5px 0 0 2px;	
	   width:300px;
	  height:200px;
	}
	
	/*for last column:address box*/
	.infoBox2{
	margin:50px 0 20px 22px;
	background-color:#667EC1;
	}

	.panel  {
		background-color:#667EC1; 
		position:relative;
	}
	
	.panel-default .panel-heading{
	    	background-color:#667EC1;
	}

	.infoBox  h3{
		margin-left: 60px;
	}
	
	.panel-title{
		margin-left:65px;
	}
	.btn-primary{
		/*margin-left:70px;*/
		margin:0 auto;
		position:absolute;
	
		
	}
	
	/*Our Doctors Page*/
	.docInfoBox{
	   margin:50px 5px 0 25px;	
	   width:70%;  
	}
	.well{
		background-color:#667EC1;
	}
	.well img {
	   width:100px;
	   height:100px;
	   margin:10px;
	}
	hr {
	   width:10%;
	   border:1px solid black;
	   margin-top:45px;	
	}
	
	.infoBoxDoctors{
	margin-top:50px;
	background-color:#667EC1;
	
	
	}

	.panel  {
		background-color:#667EC1; 
	}
	
	.panel-default .panel-heading{
	    	background-color:#667EC1;
	}

	.infoBox  h3{
		margin-left: 60px;
	}
	
	.panel-title{
		margin-left:65px;
	}
	.btn-primary{
		margin-left:70px;
		position:relative;
		
	}
	
	button.btn.btn-primary a {
	 color:black;	
	}
	.mobileShow{
		display:none;
		float:right;
		margin: 0px;
		
	}
	#workingHourInfo{
		margin:-450px 70px 20px 0px;
	background-color:#667EC1;
	float:right;
	
	}
	
	/*working Hour Info of staff page*/
	#workingHourInfoStaff{
		margin:-600px 70px 20px 0px;
	background-color:#667EC1;
	float:right;
	
	}
	
	#workingHourInfoStaff{
		margin:-600px 70px 20px 0px;
	background-color:#667EC1;
	float:right;
	
	}
	
	/*Services Page*/
	.row{
		margin-left:30px;
	}
	
	/*First Row*/
	.serviceInfo{
		
		height:350px ;
		margin-top:20px;	
	}
	
	.serviceInfo  img{
		
		width:220px;
		height:137px;
		margin-top:20px;
		margin-right:0px;
		margin-left:0px;		
	}
	
	.serviceInfo ,serviceInfo2 , .serviceInfo3 , h4{
	  margin-top:50px;	
	}
	
	.serviceInfo  p {
        font-size:0.9em;
		word-wrap:normal;	
	}
	
	.infoBox3{
	margin:60px 0 20px 0px;
	background-color:#667EC1;
	width:250px;
	}
	
	
	/*second Row*/
	.serviceInfo2 {
		margin-top:-28px;
		width:250px;
		height:350px ;
	}
   .serviceInfo2 img{
		width:220px;
		height:137px;
		margin-top:20px;
		margin-right:0px;
		margin-left:0px;		
	}

	.serviceInfo2 p {
        font-size:0.9em;
		word-wrap:normal;	
	}

/*third Row*/
	.serviceInfo3{
		margin-top:-98px;
		width:250px;
		height:350px ;
		margin-bottom:100px;
	}
		 .serviceInfo3 img{
		
		width:220px;
		height:137px;
		margin:20px 0px 0px 5px;
				
	}
	
	
	.serviceInfo3 p {
        font-size:0.9em;
		word-wrap:normal;	
	}
 
.embed-responsive .embed-responsive-item, .embed-responsive iframe{
   height:350px;
   width:50%;	
   margin:20px 0 0px 25px;
 

}



.embed-responsive .embed-responsive-4by3{
height:300px;
width:300px;
background-color:red;
padding-right:0;
	
}
/*.panel {
	width:30%;
	margin-left:150px;*/


}

.comment1{
    height:300px;
	background-color:yellow;	
}


.contactMap h3{
  margin-left:25px;
  margin-top:50px;	
}



.contactEmail{
	
	margin:90px 0px 0 -30px;
}
.contactImg {
 margin:50px 0 0 0 ;	
}

.contactImg h3 {
margin:-15px 0 10px 0;
	
}

 .contact {
margin-top:-190px;	
color:white;
margin-left:440px;
margin-bottom:20px;
font-size:1.1em;
}

.contact h4 {
	
color:black;	
}
.contact img{
	height:15px;
	width:15px;
	margin:0;
}

.imgLogo {
	
	margin-left:-25 px;
}
.imgLogo img{
 margin-right:5px;
 height:30px;
 width:30px;
	
}


#comment {
    height: 90px;
	margin:20px 20px 0 0 ;
 	
}

 
#flip {
    font-weight: 500;
    font-family: 'Brush Script MT';
    font-size: 1.9em;
}




#submit {
    margin-left: 120px;
}

.copyrightInfo{
height:30px;
width:100%;
border-radius:5px;
background-color:lightgreen;	
}
 .copyrightInfo p{
	margin: 10px auto;
    padding-top: 5px;
 }
