@media screen and (max-width: 1392px) {
   .name{
	 font-size:12px;   
   }
}

@media screen and (max-width: 1300px) {
  .logo img{
	 margin-left:100px;  
  }
}

@media screen and (max-width: 1100px) {
   .secondaryMenu ul li{
	  padding:5px;   
   }
}

@media screen and (max-width: 1041px) {
   .secondaryMenu ul li{
	  padding:2px;   
   }
}

@media screen and (max-width: 990px) {
   .src{
	 margin-left:20px;   
   }
     .nameInfo{
		margin-left:20px; 
	 }
   .moreNameInfo {
	 margin-left:20px;   
   }
   
   .files{
	margin-left:20px;
	    margin-top: 31px;   
   }
   
   
   .seconadryMenu ul li{
	   margin-left:20px;
	   
   }
   
   .text{
	 margin-left:20px;   
   }
   
   .pictureMenu{
	  margin-left:20px;   
   }
}

@media screen and (max-width: 770px){
    .nameNotification{
	  margin-top:26px;	
	}
	
	.filesImg{
	     margin-left: 20px;
    margin-bottom: 15px;
	}
	
}
@media screen and (max-width: 340px) {
  .secondaryMenu ul li{
	font-size:13px;
  }
	
	.secondaryMenu ul li{
	  font-size:12px;	
	}
}
