@charset "utf-8";
/* CSS Document */


body {

	
}

*{ margin:0 ; padding:0;}

.logo {
   background-color:#007be8;

}

.logo img{
     margin-left: 126px;	 
}

.menu{
	
background-color:#f4f4f4;

}
.searchBar{
  background-color:#3f4044;
 padding: 5px;
 	
}
.nopad{ padding:0 !important;}


.searchBar img{
  height:23px;
  width:23px;
     
	
}
fF

.mainMenu h4{ color:#5B5B5B; padding:10px;}
.mainMenu ul{
 list-style:none; margin:0; padding:0;	
}
.src{ 

background:url(images/search-icon.png) no-repeat right #007be8 ;
    padding:10px;
    color:red;
    width:80%;
    border-radius: 25px;
    border: none;
    background-color: #505155;
	margin-top:5px;

}

.mainMenu h4{
  margin-top:0px;
 
  color: #6e6f72;
  padding: 42px 10px 0px 15px;
    
}
.mainMenu ul li{ padding:10px;}
.mainMenu ul li:hover{ padding:15px; background:#222; color:#fff;}
.mainMenu ul{
	list-style:none;
	padding-left:30px;
}

h1,h2,h3,

 .nameInfo img{
height:40px;
width:40px;      	 
 
 }
 
 .nameNotification{
	 margin-top:5px;
 }
.name{
 font-size:14px;
 font-weight:bold;
 color:white;
	
}

.files{
	margin-top:10px;
	}
.anotherMenu{
  padding-top:30px;	
}

.secondaryMenu ul li{
  list-style:none;
   display:inline;
  padding:8px;	
  
}




.pictureMenu ul li {
  display:inline;
  list-style:none;
  padding:8px;
  padding-top:0px;
  margin-top:0px;	
  
}

.thumbnails{
	float:left;
	margin-right:5px;
}

.thumbnails h5{
      font-weight: bold;
    margin-bottom: 2px;
    margin-top: 14px;	
}
.thumbnails p{
   font-size:12px;	
   margin-top:0px;
   float:left;
}

.dropdown{
  border:none;
  float:right;
  z-index:100;	
	
}

.btn-default {
    color: #333;
    background-color: red !important;
    border-color:none !important;
	border:none!important;
}

.btn {
    display: inline-block;
        padding: 0px 6px;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.dropdownImage{
    float: right;
    margin-top: 6px;	
}

.dropdownList{
 dispaly:none;	
	
}
.dropdownList ul{
    background-color: #f4f4f4;
    padding: 5px;
    margin-top: -5px;
}

.dropdownList ul li{
   list-style:none;	
}
.dropdownImage:hover  {
  padding:5px;
  background-color:#f4f4f4;
  	
}

.dropdownList:hover ul{
  background-color: #f4f4f4;
    padding: 5px;
    margin-top: -5px;
}
.dropdownImage:hover  .dropdownList ul li{
display:block;	
z-index: 100;
list-style:none;	
}
@media screen and (max-width: 320px) {
    body {
        background:#e33 !important;
    }
}