﻿body {
}
#wrapper {
	position:relative;
    margin:0 auto;
	left:0px;
	top:0px;
	width:880px;
	height:1064px;
    background-color:grey;
    border-radius:5px;
}

#topBar{
    height:25px;
    width:auto;
    background-color:#e3e3e3;
    border-radius:5px;
    border-bottom:4px black solid;
}


#name p{
    font-family:Arial;
    font-size:1.1em;
    color:grey;
    margin-left:400px;
    padding-top:3px;
}

#topLayer {
    height: 363px;
    width: 880px;

   background-image: url('images/sliderImage1.png');
   background-size:880px 363px;
   background-repeat:no-repeat no-repeat;
}

#topMenu{
    height:62px;
    border-bottom:solid 1px rgba(255,255,255,0.1);

}

#menuRight{

  
}
#logo img{
    height:14px;
    width:80px;
    font-family:Arial;
   margin-left: 156px;
    margin-top: 25px;

}
#menu{
    float:right;
    margin-right: 165px;
    margin-top: -28px;
}

#menuRight {
    float:right;
    border-left:solid 1px rgba(255,255,255,0.1);
}
#menuRight img{
    height:15px;
    width:25px;
   margin: 9px 15px 0 33px;

}

#menuRight p{
      margin: 5px 7px 10px 7px;
       color:white;
     font-size:15px;
}

#search {
    float:right;
     border-left:solid 1px rgba(255,255,255,0.1);
}
#search img{
    height: 17px;
    width: 20px;
    margin: 7px 14px 0 33px;

}

#search p {   
     margin: 5px 7px 10px 7px;
     color:white;
     font-size:15px;
}

#logIn {
    float:right;
    border-left:solid 1px rgba(255,255,255,0.1);
    margin-top: 22px;
    margin-right: -85px;
  


}

#logIn img{
    height:15px;
    width:25px;
    margin: 19px 7px 10px 17px;

}

#logIn p{
    float:left;
      margin: 5px 7px 10px 7px;
      color:white;
      font-size:15px;
}
#logIn input{
      margin:3px 21px 10px 7px;
      border-radius:10px;
      color:red;
      background-color:#f5cf52;
      border: 2px solid black;
}

#bannerText {
    width: 272px;
    height: 279px;
    margin-left: 152px;
    color:white;
    font-weight:lighter;
   font-size:15px;
}

#bannerText h3 {
    margin-bottom:-15px;

}

#bannerText p{
    font-size:1em;
}

#bannerText input{

    width:171px;
    height:30px;
    color:white;
    font-size:0.8em;
    background-color:#082948;
    border:2px solid #082948;
}
#bannerButton{
    width:93px;
    height:30px;
    border-radius:5px;
    border:2px solid #08223b;
    color:red;
    font-size:0.8em;
    background-color:#fcc54e;
    margin-left:2px;
}

#pointedSearch {
         height: 35px;
    width: 214px;
    background-image: url('images/pointed input box.png');
    background-repeat: no-repeat;
    margin-top: -38px;
    margin-left: 81px;
    background-size: 191px 35px;
}



#pointedSearch p{
       font-size: 12px;
    color: white;
    margin-top: -14px;
    margin-left: 30px;
    width: 158px;
}

#searchText{
    margin-top: 31px;
    height: 30px;
    width: 76px;
    color: white;
    font-size: 15px;

}

#mobilePic{
      margin: -347px 0 20px -106px;
}
/*top banner / first layer ends*/


/*middle layer starts*/

#middleLayer{
    height:433px;
    width:880px;
    color:white;
}

#feedback{
    width: 284px;
    height: auto;
    margin-left: 150px;
}
#feedback h3{
    font-size:16px;
    margin-bottom: -7px;
}

#feedback p{
    font-size:14px;
}

#threeNotes{
    width: 734px;
    height:140px;
   
    margin: -343px 0 0 123px;
}
#notes{
    width: 172px;
    height:auto;
    float:left;
    margin-left:25px;
}

#notes img{
    margin:0 0 0 60px;
}

#notes h4{
       margin: 12px 0 0 25px;
       font-size:16px;
}
#notes p{
    margin-left:5px;
    font-size:14px;
}
#bestTeam{
   width: 172px;
    height:auto;
    float:left;
   margin-left:60px;
}

#bestTeam img{
    margin:0 0 0 60px;
}

#bestTeam h4{
       margin: 12px 0 0 19px;
         font-size:16px;
}
#bestTeam p{
    margin-left:5px;
       font-size:14px;
}
#schedule{
width: 172px;
    height:auto;
    float:left;
        margin-left:60px;
}

#schedule img{
    margin:0 0 0 60px;
}

#schedule h4{
       margin: 12px 0 0 18px;
         font-size:16px;
}

#schedule p{
    margin-left:5px;
       font-size:14px;
}

#buyTheme{
    height: 108px;
    width: 100%;
    background-color: #f3f4f6;
    padding: 1px;
    margin-top:-11px;

}
.buyThemeText{
    margin: 26px 0 20px 315px;
    position: relative;
    color:blue;
    /* padding: 1px; */
}


#signupButton {
    margin-top: -2px;
    margin-right: 5px;
    margin-left: 239px;
    background-color: #fcd151;
    border: white 1px solid;
    height: 29px;
    width: 200px;
    color: red;
    font-size: 12px;
}

#infoButton{
    background-color:#3d76ad;
    height: 29px;
    width: 200px;
    color:white;
    font-size: 12px;
}

#logoFirstImage{
    margin-left:50px;
}
#logoLine img{
    height:22px;
margin:27px 11px 0 26px;


}

#bottomLayer{
    background-color:#134e90;
    width:100%;
    height:200px;
        margin-top: 30px;
}

#footer{
    background-color:#104474;
    width:100%;
    height:74px;
    
}

#bottomLayerTextLeft{
 
    width: 378px;
    color: white;
    margin-left: 154px;
}


#bottomLayerTextLeft h4{
    padding-top:14px;
   
}
#bottomLayerTextLeft p{
    font-size:12px;
}

#bottomLayerTextRight{
    width: 200px;
    color:white;
    margin-top: -159px;
    margin-left: 656px;

}
#bottomLayerTextRight p{

    font-size:14px;
}
#bottomLayerTextRight h4{
    font-size:15px;
}
table{
    font-size:13px;
}

#footer{
    padding:1px;
}
#copyright{
     margin: 5px 0 0 150px;
     color:white;
     font-size:13px;
}
#bottomMenu ul li{
    float: left;
    margin-right: 5px;
    padding-right: 7px;
    border-right: 2px solid grey;
    list-style: none;
}