﻿body {
    background-color:lightgrey!important;
    
}

#container{
       margin: auto;
    background-color: #ffffff;
    width: 65%;
    top: 0;
    

 
} 

#logo {
    height:150px;
    width:150px;

}

#logo img{
      height: 60px;
      width: 130px;
      margin: 41px 0 0 37px;
}

#buttonRight{
           float: right;
    margin-top: -93px;
    margin-right: 116px;
}

#searchSign{
    height: 20px;
    width: 20px;
    margin-top: -13px;
    margin-left: 66px;
}

#menu{
        margin-left: 378px;
    margin-top: -76px;
    font-size:16px;
}

#menu ul  li{
    list-style-type: none;
    float: left;
       margin-left: 10px;
    font-size: 14px
}

#menu ul li img{
    height: 6px;
    width: 7px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #444;
}


.navbar{
    margin-top: -63px;
    margin-left: -14px
}


 /*.navbar-collapse .collapse .in {

    margin-left:-300px;
}*/