﻿body {
    background: url("images/background.png")  ;
    background-repeat:repeat; 
    
    background-size: cover;
   
    padding: 0;
    margin: 0;
    display: block;  
}




 
#announcement{
    float:right;
    width:400px;
    margin-top:10px;
    color:white;
    margin-right:50px;

}

#announcement img{
    height:17px;
    width:17px;
    background-color:transparent;
}
#images img{
    
    height:35px;
    width:35px;
    padding:5px;
}
#Blogo {
    margin-left: 130px;
    margin-top: 20px;
}

    #Blogo img {
        height: 250px;
        width: 250px;
    }

#header {
    margin-top: -150px;
    margin-left: 400px;
    height: 80px;
    width: 800px;
    font-weight: 400;
    color: black;
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

 .navbar-default{
 background-color:#65183E;
  border-color: #65183E;
}
    #header li {
        list-style-type: none;
        padding: 10px;
        display: inline;
    }

        #header li:hover {
            cursor: pointer;
            color: yellow;
        }


        #header li ul {
            padding: 0;
            display: none;
            position: absolute;
            visibility: hidden;
            z-index: 2;
        }

        #header li:hover ul {
            display: block;
            visibility: visible;
            float: left;
        }

        #header li ul li {
            display: block;
            background-color: #65183D;
            border: 1px white groove;
            padding: 2px;
            margin: 3px 0 3px 85px;
        }

.packages {
    margin: 3px 0 3px 205px;
}

.fixedWidth {
    width: 75%;
    height: auto;
    border-radius: 20px;
    background-color: rgba(241, 206, 15,0.44);
    margin: 0 auto;
    margin-top: -15px;
    overflow: hidden;
    box-shadow: 5px 5px;
}

#photoBanner {
    width: 70%;
    margin: 20px 0px 0px 200px;
    z-index: 1;
}

    #photoBanner img {
        height: 400px;
        width: 500px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

.carousel-caption {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

article {
    height: 180px;
    width: 90%;
    background-color: rgba(101, 24, 61, 0.10);
    float: left;
    margin: 50px 50px 10px 50px;
    border: 1px none solid;
    border-radius: 10px;
    -moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0px -1px 1px rgba(0,0,0,0.5);
}

    article p, h4 {
        margin: 18px 8px 0 10px;
    }

#ourTeam h3 {
    margin-bottom: 10px;
    font-family: Aharoni;
    margin-left: 240px;
}

#ourTeam {
    height: auto;
    width: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

    #ourTeam img {
        margin-left: 50px;
        height: 170px;
        width: 170px;
        margin-bottom: 5px;
    }

    #ourTeam p {
        height: 250px;
        width: 270px;
        margin-left: 20px;
        background-color: rgba(101, 24, 61, 0.10);
        border: brown;
        -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
        box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    }
/*Services Page*/
#services h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
}

.infoLeft {
    background-color: lavenderblush;
    height: auto;
    width: 50%;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
    border: 1px white solid;
    border-radius: 10px;
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: inset 1px -1px -1px rgba(0,0,0,0.5);
}

.infoLeftImage img {
    height: 90px;
    width: 90px;
    float: left;
    margin-left: 100px;
    margin-top: 45px;
    border: 1px solid white;
    border-radius: 10px;
}

.infoLeft p {
    margin: 5px 0 0 5px;
    word-wrap: break-word;
}

.infoLeft span {
    color: red;
    margin-left: 250px;
}


.infoRight {
    background-color: lavenderblush;
    height: auto;
    width: 50%;
    float: right;
    margin: 40px 100px 10px 20px;
    border: 1px white solid;
    border-radius: 10px;
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: inset 1px -1px -1px rgba(0,0,0,0.5);
}

.infoRightImage img {
    height: 90px;
    width: 90px;
    float: left;
    margin: 45px 20px 0 220px;
    border: 1px solid white;
    border-radius: 10px;
}

.infoRight p {
    margin: 5px 0 0 5px;
    word-wrap: break-word;
}

.infoRight span {
    color: red;
    margin-left: 250px;
}


/*Information Page*/
.information {
    height: auto;
    width: 90%;
    border-radius: 10px;
    position: relative;
    margin-left: 100px;
}

    .information::after {
        content: "";
        width: 90%;
        background: url("images/backgroundImage2.jpg");
        background-repeat: no-repeat;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 5px;
    }

    .information h3 {
        margin-left: 400px;
    }

.infoFacial {
    margin: 10px 20px 10px 80px;
    border: 1px solid black;
    width: 70%;
}

.secondFixedWidth h3 {
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;
}

.infoFacial p {
    margin: 12px;
    font-weight: 600;
}

#list {
    margin-left: 10px;
    margin-right: 10px;
}

.priceList {
    height: 700px;
    width: 50%;
    overflow-y: scroll;
    margin: 10px 0 0 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}



    .priceList h4 {
        font-weight: bolder;
    }

    .priceList table {
        margin-left: 10px;
    }

#facialPhotos {
    float: right;
    height: 700px;
    width: 20%;
    margin-right: 125px;
}

    #facialPhotos img {
        height: 200px;
        width: 280px;
        padding: 10px;
        border: 1px solid black;
    }


/*End of Facial Page*/


/*Start Hair Styling Page*/

#hairStyle {
    height: 150px;
    width: 862px;
    background-color: #48163d;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

#hairStyleImages {
    height: 200px;
    width: 3850px;
    background-color: #48163d;
}

    #hairStyleImages img {
        height: 150px;
        width: 150px;
        padding-left: 10px;
        -webkit-transition: all 0.5s ease;
        cursor: pointer;
        -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    }

        #hairStyleImages img:hover {
            -webkit-transform: scale(1.1);
        }
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 20s linear infinite;
    //-moz-animation:bannermove 20s linear infinite;
    //-o-zoom-animation:bannermove 20s linear infinite;
    animation: bannermove 20s linear infinite;
}


@keyframes

"bannermove" {
    0%;

{
    margin-left: 0px;
}

100% {
    margin-left: -1200px;
}

}

/*@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1200px;
 }
 
}
 */
@-webkit-keyframes

"bannermove" {
    0%;

{
    margin-left: 0px;
}

100% {
    margin-left: -1200px;
}

}


/*Plug in jquery.simplrscroll from logicbox.net used for infinite scroll for photobar*/
#pediMani {
    height: 250px;
    width:860px;
    margin-bottom: 20px;
    margin-top: 50px;
}




/* Clip DIV ,width of the scroll bar*/
.simply-scroll .simply-scroll-clip {
      width:863px;
    height: 200px;
    border:5px inset white;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li img {
    float: left; /* Horizontal scroll only */
    width: 290px;
    height: 200px;
}



/*Contact Page*/
.secondFixedWidth {
    height: auto;
    width: 90%;
    border-radius: 10px;
    position: relative;
    margin-left: 100px;
    overflow: hidden;
    margin-top: 20px;
}

.secondFixedWidth::after {
    content: "";
    width: 90%;
    background: url("images/backgroundImage2.jpg");
    background-repeat: no-repeat;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 5px;
}

.secondFixedWidth h4 {
    margin-left: 180px;
    font-weight: 800;
    font-family: 'Batang';
}

.infoContact {
    margin: 0 auto;
    width: 30%;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 20px;
    font-family: "Batang";
}

#contactMap iframe {
    height: 350px;
    width: 90%;
    border: 1px solid black;
    height: 350px;
    margin-top: 40px;
  
}

#comment {
    height: 70px;
    width: 400px;
    float: right;
    margin-right: 140px;
    margin-top: 10px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: beige;
    border: solid 1px #c3c3c3;
}

#flip {
    font-weight: 500;
    font-family: 'Brush Script MT';
    font-size: 1.5em;
}

#panel {
    padding: 50px;
    display: none;
}

#submit {
    margin-left: 120px;
}

#panel textarea {
    width: 370px;
    margin-right: -285px;
}

#openingHours {
    height: 370px;
    width: 30%;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
    margin-bottom: 20px;
    margin-left: 40px;
}

    #openingHours p {
        margin: 25px 0 0 25px;
        font-weight: 800;
    }

    #openingHours ul {
        margin-top: 20px;
    }

    #openingHours li {
        list-style-type: none;
        padding: 10px;
        font-weight: 700;
    }

.copyrightInfo{
height:30px;
width:100%;
border-radius:5px;
background-color:darkgreen;
margin:0 auto;	
}
 .copyrightInfo p{
	margin: 10px auto;
    padding-top: 5px;
 }


